<ul class="navbar">
    <li class="nav"><a href="games">Games</a></li>
    <li class="nav">Community</li>
    <li class="nav">Industry</li>
    <li class="nav">Watch</li>
    <li class="nav">Help</li>
    <li><img src="searchicon.ico" class="searchicon" alt="Search"></li>
    <li><input type="text" placeholder="Search Games..." class="search"></li>
</ul>